<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forest</key>
	<array>
		<array>
			<string>pinetree</string>
			<string>moss</string>
			<string>plant</string>
			<string>bush</string>
		</array>
		<array>
			<string>deer</string>
			<string>squirrel</string>
			<string>bunny</string>
		</array>
		<array>
			<string>wolf</string>
			<string>hawk</string>
			<string>bear</string>
		</array>
		<integer>30</integer>
	</array>
	<key>Ocean</key>
	<array>
		<array>
			<string>plankton</string>
			<string>seaweed</string>
			<string>smallfish</string>
			<string>shellfish</string>
		</array>
		<array>
			<string>whale</string>
			<string>fish</string>
			<string>jellyfish</string>
		</array>
		<array>
			<string>shark</string>
			<string>squid</string>
			<string>marlin</string>
		</array>
		<integer>15</integer>
	</array>
	<key>Desert</key>
	<array>
		<array>
			<string>cactus</string>
			<string>bugs</string>
			<string>flower</string>
		</array>
		<array>
			<string>lizard</string>
			<string>tortoise</string>
			<string>rodent</string>
			<string>jackrabbit</string>
		</array>
		<array>
			<string>snake</string>
			<string>coyote</string>
			<string>hawk</string>
		</array>
		<integer>10</integer>
	</array>
	<key>Savanna</key>
	<array>
		<array>
			<string>tree</string>
			<string>grass</string>
			<string>bugs</string>
		</array>
		<array>
			<string>antelope</string>
			<string>elephant</string>
			<string>giraffe</string>
			<string>zebra</string>
		</array>
		<array>
			<string>lion</string>
			<string>hyena</string>
			<string>crocodile</string>
			<string>vulture</string>
		</array>
		<integer>8</integer>
	</array>
	<key>Arctic</key>
	<array>
		<array>
			<string>plankton</string>
			<string>krill</string>
			<string>smallfish</string>
		</array>
		<array>
			<string>seal</string>
			<string>fish</string>
			<string>penguin</string>
		</array>
		<array>
			<string>polarbear</string>
			<string>whale</string>
			<string>walrus</string>
			<string>narwhal</string>
		</array>
		<string>5</string>
	</array>
</dict>
</plist>
