<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cactus</key>
	<array>
		<array>
			<string>water</string>
			<integer>20</integer>
		</array>
		<array>
			<string>sun</string>
			<integer>60</integer>
		</array>
		<array>
			<string>soil</string>
			<integer>20</integer>
		</array>
	</array>
	<key>flower</key>
	<array>
		<array>
			<string>water</string>
			<integer>34</integer>
		</array>
		<array>
			<string>sun</string>
			<integer>33</integer>
		</array>
		<array>
			<string>soil</string>
			<integer>33</integer>
		</array>
	</array>
	<key>grass</key>
	<array>
		<array>
			<string>water</string>
			<integer>34</integer>
		</array>
		<array>
			<string>sun</string>
			<integer>33</integer>
		</array>
		<array>
			<string>soil</string>
			<integer>33</integer>
		</array>
	</array>
	<key>moss</key>
	<array>
		<array>
			<string>water</string>
			<string>60</string>
		</array>
		<array>
			<string>sun</string>
			<string>20</string>
		</array>
		<array>
			<string>soil</string>
			<string>20</string>
		</array>
	</array>
	<key>pinetree</key>
	<array>
		<array>
			<string>water</string>
			<string>34</string>
		</array>
		<array>
			<string>sun</string>
			<string>33</string>
		</array>
		<array>
			<string>soil</string>
			<string>33</string>
		</array>
	</array>
	<key>bush</key>
	<array>
		<array>
			<string>water</string>
			<string>34</string>
		</array>
		<array>
			<string>sun</string>
			<string>33</string>
		</array>
		<array>
			<string>soil</string>
			<string>33</string>
		</array>
	</array>
	<key>tree</key>
	<array>
		<array>
			<string>water</string>
			<string>34</string>
		</array>
		<array>
			<string>sun</string>
			<string>33</string>
		</array>
		<array>
			<string>soil</string>
			<string>33</string>
		</array>
	</array>
	<key>bunny</key>
	<array>
		<array>
			<string>grass</string>
			<integer>34</integer>
		</array>
		<array>
			<string>water</string>
			<integer>33</integer>
		</array>
		<array>
			<string>bush</string>
			<integer>33</integer>
		</array>
	</array>
	<key>cow</key>
	<array>
		<array>
			<string>grass</string>
			<integer>50</integer>
		</array>
		<array>
			<string>water</string>
			<integer>30</integer>
		</array>
		<array>
			<string>sun</string>
			<integer>20</integer>
		</array>
	</array>
	<key>deer</key>
	<array>
		<array>
			<string>grass</string>
			<integer>34</integer>
		</array>
		<array>
			<string>water</string>
			<integer>33</integer>
		</array>
		<array>
			<string>bush</string>
			<integer>33</integer>
		</array>
	</array>
	<key>elephant</key>
	<array>
		<array>
			<string>grass</string>
			<integer>34</integer>
		</array>
		<array>
			<string>water</string>
			<integer>33</integer>
		</array>
		<array>
			<string>bush</string>
			<integer>33</integer>
		</array>
	</array>
	<key>giraffe</key>
	<array>
		<array>
			<string>tree</string>
			<integer>34</integer>
		</array>
		<array>
			<string>water</string>
			<integer>33</integer>
		</array>
		<array>
			<string>bush</string>
			<integer>33</integer>
		</array>
	</array>
	<key>lion</key>
	<array>
		<array>
			<string>deer</string>
			<integer>60</integer>
		</array>
		<array>
			<string>water</string>
			<integer>20</integer>
		</array>
		<array>
			<string>giraffe</string>
			<integer>20</integer>
		</array>
	</array>
</dict>
</plist>
