.DS_Store
*.xcuserstate
*.xcsettings
*.xcbkptlist
*.xcscheme
xcschememanagement.plist
*.xcuserstate

NeeditFeeditCocos.xcodeproj/project.xcworkspace/xcuserdata/pgarratt.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

NeeditFeeditCocos.xcodeproj/project.xcworkspace/xcuserdata/pgarratt.xcuserdatad/UserInterfaceState.xcuserstate

NeeditFeeditCocos.xcodeproj/project.xcworkspace/xcuserdata/pgarratt.xcuserdatad/UserInterfaceState.xcuserstate
